<div class="container mt-4 pt-4">
  <drag-scroll>
    <img drag-scroll-item src="assets/images/M1.jpeg" />
    <img drag-scroll-item src="assets/images/M2.png" />
    <img drag-scroll-item src="assets/images/M2.png" />
    <img drag-scroll-item src="assets/images/M2.png" />
    <img drag-scroll-item src="assets/images/M1.jpeg" />
    <img drag-scroll-item src="assets/images/M2.png" />
  </drag-scroll>
</div>
<!-- <div class="container mt-4 pt-4">
  <drag-scroll>
    <img drag-scroll-item src="assets/images/M1.jpeg" />
    <img drag-scroll-item src="assets/images/M2.png" />
    <img drag-scroll-item src="assets/images/M1.jpeg" />
  </drag-scroll>
</div> -->

<!-- <button (click)="moveLeft()">Left</button>
<button (click)="moveRight()">Right</button>
<button (click)="moveTo(2)">Last</button> -->
