drag-scroll {
  height: 75vh;
  width: 100vh;
}
img {
  height: 100%;
  width: 100%;
}

button {
  width: 100px;
  border: none;
  background-color: white;
}

.subtitle {
  margin: 8px 0 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #505971;
}
