<app-header></app-header>
<app-homepage></app-homepage>

<!-- And add here for test how works angular material components -->
<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->

<!-- <div class="mt-4">
<app-dashboard></app-dashboard>
</div> -->

<div class="mt-4 container">

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.bfmtv.com/kvXWqkzYgHM0rLAOxGYl9fN1QF8=/0x20:1040x605/1040x0/images/Dragon-Ball-Super-Super-Hero-1072969.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.bfmtv.com/kvXWqkzYgHM0rLAOxGYl9fN1QF8=/0x20:1040x605/1040x0/images/Dragon-Ball-Super-Super-Hero-1072969.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.bfmtv.com/kvXWqkzYgHM0rLAOxGYl9fN1QF8=/0x20:1040x605/1040x0/images/Dragon-Ball-Super-Super-Hero-1072969.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>