  .container{
      border: 1px solid rgba(255, 255, 255, 0);
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  
  .example-chip-list {
    width: 100%;
  }

  .quantityInput{
    width: 10%;
  }

.checkboxGroup{
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    text-align: center;
  }


  ////////////////////////////////////:::


  
  