<div class="container pb-5">
  <div class="row">
    <p>Budget : <code ng-non-bindable>{{"{{budget.montant}}"}}</code></p>
    <p>Piece Selectionnée : <code ng-non-bindable>{{"{{selectedRoom}}"}}</code></p>
    <br>

    <div class="d-flex pt-3">
      <mat-form-field appearance="fill">
        <mat-label>Trier par</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>Aucun</mat-option>
          <mat-option value="Frais de port Gratuit">Frais de port gratuit</mat-option>
          <mat-option value="En soldes">En soldes</mat-option>
        </mat-select>
      </mat-form-field>
      {{selected}}
    </div>
    

    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
      

  </div>
  </div>

<div class="container mt-4 pt-2">
    <mat-icon>local_grocery_store</mat-icon>Panier
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>


<!-- <div class="container pb-5">
<div class="row">
  <p>Budget : <code ng-non-bindable>{{"{{budget.montant}}"}}</code></p>
  <p>Piece Selectionnée : <code ng-non-bindable>{{"{{selectedRoom}}"}}</code></p>
  <br>
  <div class="d-flex pt-3">
    <mat-form-field appearance="fill">
      <mat-label>Trier par</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>Aucun</mat-option>
        <mat-option value="Frais de port Gratuit">Frais de port gratuit</mat-option>
        <mat-option value="En soldes">En soldes</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>
</div> -->