.contentAll{
    background-color: #F5F6F7;
    height: 100%;
}

.content{
    height: 100%;
}

.contentImage{
    padding-top: 5px;
    height: 30%;
    margin-bottom: 10px;
}

.banner{
    height: 100%;
}

.contentBottom{
    height: auto;
}

.sentenceTop{
    font-family: 'Open Sans', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0;
    font-size: 130%;
    color: rgb(30, 60, 135);  
}

.sentenceBottom{
    color: #010207af;
}

.formSearch{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 65%;
    border-radius: 3px;
    box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.377);
}

.formGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 50px 20px;
}

.formInputTop{
 flex: 1;
}

.formSelect{
    color: rgba(0, 0, 0, 0.61);
    transition: 0.1s
}



.formSearchBottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.ButtonSearchForm{
    border-radius: 3px;
    color: white;
    background:rgb(30, 60, 135);
    padding: 10px 25px;
    transition: 0.1s
}

.ButtonSearchForm:hover{
    background: rgba(30, 60, 135, 0.884);
    color: white;
}

.inspirationSearch{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 86%;
    border-radius: 3px;
    box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.377);   
}

.inspirationSearchImage{
    flex: 1;
    height: 260px;
    width: 65%;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 7px;
   
}

.contentInspirationButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtoninspirationSearch{  
    border-radius: 3px;
    color: white;
    background: rgb(30, 60, 135);
    padding: 10px 25px;
    transition: 0.1s
}

.ButtoninspirationSearch:hover{
    background: rgba(30, 60, 135, 0.884);
    color: white;
}

