<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>step1</title>
</head>

<body>
    <div class="container-fluid contentAll">
        <div class="container content">
            <div class="row contentImage">
                <img class="banner" src="\assets\images\imgonline-com-ua-twotoone-cXCAe0NELTWHkE3A.jpg" alt="">
            </div>
            <div class="row contentBottom">

                <div class="col-md-7">
                    <p class="sentenceTop" >MaNo Limits</p>
                    <p class="sentenceBottom" >Remplissez et on fait ! </p>
                    <div class="formSearch">
                        <div class="formInputTop">
                            <div class="formGrid">
                                <select class="form-select formSelect " aria-label="Default select example">
                                    <option selected>Définissez votre budget</option>
                                    <option value="1">Home Staging</option>
                                    <option value="2">Confort</option>
                                    <option value="3">Rénovation totale</option>
                                </select>
                                
                                <select class="form-select formSelect" aria-label="Default select example">
                                    <option selected>Choisissez votre pièce</option>
                                    <option value="1">Salle de bain</option>
                                    <option value="2">Toilettes</option>
                                    <option value="3">Salon</option>
                                </select>
                            </div>
                        </div>
                        <div class="formSearchBottom">
                            <a  routerLink="/dashboard"><button class="ButtonSearchForm">Rechercher</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <p class="sentenceTop" >Manque d'inspiration ?</p>
                    <p class="sentenceBottom">On va vous aider un peu.</p>
                    <div class="inspirationSearch">
                        <div class="contentInspirationSearch">
                            <div class="contentInspirationImage" >
                                <img class="inspirationSearchImage" src="\assets\images\logo_new-casque.png" alt="">
                            </div>
                            <div class="contentInspirationButton">
                                <a routerLink="/inspiration"><button class="ButtoninspirationSearch">Rechercher</button></a> 
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</body>

</html>
